<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/logo5.png" width=" 200px" style="display:inline-block" height="100px">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
      <ion-slides [options]="slidesOpts" zoom>
        <ion-slide>
         <div class="swiper-zoom-container">
           <img src="assets/y1.jpg" width="100%">
         </div>
        </ion-slide>
      </ion-slides>
    </ion-item>
  
    <p></p>
  <ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/y2.jpg">
     </div>
    </ion-slide>
  </ion-slides>
  </ion-item>
  
  <p></p>
  <ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/y3.jpg">
     </div>
    </ion-slide>
  </ion-slides>
  </ion-item>
  
  <p></p>
  <ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/y4.jpg">
     </div>
    </ion-slide>
  </ion-slides>
  </ion-item>
  
  <p></p>
  <ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/y5.jpg">
     </div>
    </ion-slide>
  </ion-slides>
  </ion-item>
  
  <p></p>
  <ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/y6.jpg">
     </div>
    </ion-slide>
  </ion-slides>
  </ion-item>
  
  <p></p>
  <ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/y7.jpg">
     </div>
    </ion-slide>
  </ion-slides>
  </ion-item>

  <ion-button color= "dark" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/tingkatan5']">
  <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
  Kembali
  </ion-button>
  
</ion-content>
