<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/logob2.png" width=" 200px" style="display:inline-block" height="100px">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  
    <ion-item>
      <ion-slides [options]="slidesOpts" zoom>
        <ion-slide>
         <div class="swiper-zoom-container">
           <img src="assets/bab2.1t4.PNG" width="100%">
         </div>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.2t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.3t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.4t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.5t4.jpg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.6t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.7t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.8t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.9t4.PNG">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.10t4.jpg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2.11t4.jpg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab12.1t4.jpg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<ion-button color= "mustard" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/tingkatan4']">
  <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
  Kembali
</ion-button>
</ion-content>
