<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/vt.png" width=" 300px" style="display:inline-block" height="100px">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-slides [options]="slidesOpts" zoom>
      <ion-slide>
       <div class="swiper-zoom-container">
         <img src="assets/t1.jpg" width="100%">
       </div>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t2.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t3.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t4.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t5.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t6.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t7.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t8.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t9.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t10.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t11.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t12.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t13.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t14.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t15.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>


<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/16.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/17.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/18.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t19.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/t20.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>
<ion-button color= "dark" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/tingkatan4']">
<ion-icon slot="start" name="arrow-back-outline"></ion-icon>
Kembali
</ion-button>
</ion-content>
