<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/sejt4.png" width=" 300px" style="display:inline-block" height="100px">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab1t4.jpeg" width="100%">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab2t4.jpeg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab11t4.jpeg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab12t4.jpeg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab13t4.jpeg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab14t4.jpeg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<p></p>
<ion-item>
  <ion-slides [options]="slidesOpts" zoom>
    <ion-slide>
     <div class="swiper-zoom-container">
       <img src="assets/bab15t4.jpeg">
     </div>
    </ion-slide>
  </ion-slides>
</ion-item>

<ion-button color= "mustard" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/tingkatan4']">
  <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
  Kembali
</ion-button>
</ion-content>
