<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/masa.png" width=" 300px" style="display:inline-block" height="100px">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="tab-group">
    <div class="tab">
      <input type="checkbox" id="tab-one" name="tabs">
      <label for="tab-one"><p>Adakah aplikasi ini memerlukan akaun?</p></label>
      <div class="tab-content">
        <p>Tidak perlu. Aplikasi ini tidak menyediakan pendaftaran akaun bagi setiap pengguna.
          Pengguna bebas menggunakannya.
        </p>
      </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="tab-two" name="tabs">
    <label for="tab-two"><p>Mengapa aplikasi ini diciptakan?</p></label>
    <div class="tab-content">
      <p>Aplikasi ini dicipta berdasarkan pemerhatian pencipta aplikasi ini. Hal ini kerana kebanyakkan
        aplikasi yang telah sedia ada tidak mengemaskan kini tajuk yang telah digubal yang berkuatkuasa tahun ini.
      </p>
    </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="tab-three" name="tabs">
    <label for="tab-three"><p>Berapa lamakah aplikasi ini akan dikekalkan?</p></label>
    <div class="tab-content">
      <p>Aplikasi ini akan dikekalkan sehingga tajuk subjek Sejarah digubal semula oleh Kementerian
        Pelajaran Malaysia. Dengan itu aplikasi ini akan diberhentikan serta merta.
      </p>
    </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="tab-four" name="tabs">
    <label for="tab-four"><p>Aplikasi ini perlu bayar ke?</p></label>
    <div class="tab-content">
      <p>Pengguna tidak perlu membayar aplikasi ini jika ingin menggunakannya.Aplikasi ini 
        boleh digunakan bila-bila masa sahaja di mana jua pun.
      </p>
    </div>
  </div>
  </div>
  
</ion-content>




 
  

 