<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/cr.png" width=" 300px" style="display:inline-block" height="100px">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-slides [options]="slidesOpts" zoom>
      <ion-slide>
       <div class="swiper-zoom-container">
         <img src="assets/s1.jpg" width="100%">
       </div>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s2.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s3.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s4.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s5.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s6.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s7.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s8.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s9.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s10.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s11.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s12.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s13.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s14.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/s15.jpg">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<ion-button color= "dark" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/tingkatan4']">
<ion-icon slot="start" name="arrow-back-outline"></ion-icon>
Kembali
</ion-button>
</ion-content>
