<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/ready.png" width=" 300px" style="display:inline-block" height="100px">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <img src="/assets/t5.jpeg" alt="logo" width="60%">

  <ion-grid fixed>
    <ion-row>
  
      <ion-col size="12">
        <ion-button color="mustard"   [routerLink]="['/k6']" 
         expand="block" fill ="solid">
        Bab 1
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid fixed>
    <ion-row>
  
      <ion-col size="12"  [routerLink]="['/k7']">
        <ion-button color="mustard"   
         expand="block" fill ="solid">
        Bab 2
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid fixed>
    <ion-row>
  
      <ion-col size="12">
        <ion-button color="mustard" [routerLink]="['/k8']"  
         expand="block" fill ="solid">
        Bab 3
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid fixed>
    <ion-row>
  
      <ion-col size="12">
        <ion-button color="mustard" [routerLink]="['/k9']"  
         expand="block" fill ="solid">
        Bab 4
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid fixed>
    <ion-row>
  
      <ion-col size="12">
        <ion-button color="mustard" [routerLink]="['/k10']"  
         expand="block" fill ="solid">
        Bab 5
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color= "purple" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/quiz']">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Kembali
  </ion-button>
</ion-content>
