<ion-header>
  <ion-toolbar>
    <ion-title>kuiz2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan1">
        <ion-list-header>
          <ion-label><h2>1. Pernyataan yang memberikan tafsiran nasionalisme yang sama 
            dengan tafsiran tokoh Hans Kohn?
            <img src="assets/rajah27.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan1">Gerakan yang 
            <br>meletakkan 
           <br>kesetiaan seseorang
          <br>kepada raja dan
        <br>bangsanya</ion-label>
        <ion-label color="danger" [hidden]="!jawapan1">Gerakan yang 
          <br>meletakkan 
          <br>kesetiaan seseorang
          <br> kepada raja dan 
          <br>bangsanya</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Gerakan kesedaran
          <br>dan ketegasan diri
          <br>sebelum Perang Dunia
            <br>Kedua</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Gerakan mencapai
          <br>kebebasan politik
           <br>ekonomi dan sosial</ion-label>
           </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Gerakan pengalaman
           <br>yang dipengaruhi oleh
          <br>sekeliling
        </ion-label>
          
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan2">
        <ion-list-header>
          <ion-label><h2>2.Tokoh yang manakah memberikan pandangan tersebut?
            <img src="assets/rajah30.1.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Dr. R. Suntharalingam
           </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Dr. Burhanudin
          <br>al-Helmi</ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan2">Profesor Datuk Zainal
            <br>Abidin Abdul Wahid
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan2">Profesor Datuk Zainal 
             <br>Abidin Abdul Wahid</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Profesor Emeritus 
            <br>Tan Sri Dr.Khoo Kay
            <br>Kim
           </ion-label>
          
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan3">
        <ion-list-header>
          <ion-label><h2>3. Pernyataan yang manakah betul tentang matlamat revolusi?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Revolusi Belanda- 
          <br>Menentang sistem cukai 
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Revolusi Amerika-
          <br>Mendapatkan 
          <br>kedaulatan parlimen 
        </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Revolusi Keagungan-
          <br>Menyegerakan 
          <br>kemerdekaan 
          
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan3">Revolusi Perancis-  
            <br>Memperjuangkan 
            <br>persaudaraan dan
            <br>persamaan 
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan3">Revolusi Perancis-
             <br>Memperjuangkan 
             <br>persaudaraan dan 
             <br>persamaan</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan4">
        <ion-list-header>
          <ion-label><h2>4. Mengapakah nasionalisme di Thailand berbeza dengan negara-negara lain
            di Asia Tenggara?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menentang penjajahan
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menghalau kuasa asing
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan4">mempertahankan 
            <br>kedaulatan negara
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan4">Mempertahankan 
             <br>kedaulatan negara</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Melaksanakan
            <br>pemerintahan 
            <br>demokrasi
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan5">
        <ion-list-header>
          <ion-label><h2>5. Tokoh pendidikan agama telah berjaya membangkitkan 
            kesedaran nasionalisme di Tanah Melayu.Bagaimanakah kesedaran tersebut dibangkitkan?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Melalui penulisan
            <br>buku agama
           </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menggunakan 
            <br>semangat jihad
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Penentangan secara 
            <br>gerila
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan5">Penubuhan madrasah
            </ion-label>
            <ion-label color="danger" [hidden]="!jawapan5">Penubuhan madrasah</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan6">
        <ion-list-header>
          <ion-label><h2>6. Bill Of Rights telah digubal semasa Revolusi Keangungan (1688) di England.
            Apakah kuasa parlimen melalui perundangan tersebut?
            <img src="assets/rajah28.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan6">Mengutip cukai
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan6">Mengutip cukai</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Melantik Penasihat
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mengawal kerajaan
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menolak penjajahan
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan7">
        <ion-list-header>
          <ion-label><h2>7. Mengapakah persatuan berikut ditubuhkan oleh masyarakat India di Tanah Melayu pada tahun 1936?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Meningkatkan  
            <br>pertukaran idea</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Meningkatkan  
            <br>perpaduan kaum
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan7">Menjaga kebajikan 
            <br>masyarakat
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan7">Menjaga kebajikan masyarakat</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menggalakkan  
            <br>pendidikan tinggi
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan8">
        <ion-list-header>
          <ion-label><h2>8.Mengapakah penulisan kreatif berjaya mencetuskan gerakan nasionalisme di Asia Tenggara? 
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Memperkenalkan  
            <br>semangat jihad
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mendorong gerakan 
            <br>radikal
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mencetuskan idea 
            <br>revolusi
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan8">Menyindir sikap 
            <br>penjajah
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan8">Mnyindir sikap 
            <br>penjajah</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan9">
        <ion-list-header>
          <ion-label><h2>9. Pada tahun 1932 ,Parti Rakyat melancarkan revolusi di Thailand.
            Apakah kesan revolusi tersebut? 
            <img src="assets/rajah29.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Dasar tutup pintu 
            <br>dikuatkan
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan9">Sistem raja berkuasa 
            <br>mutlak tamat
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan9">Sistem raja berkuasa 
             <br>mutlak tamat</ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Pemerintahan republik 
            <br>dilaksanakan
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Kuasa pembesar 
            <br>tempatan diperkukuh
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan10">
        <ion-list-header>
          <ion-label><h2>10."Semangat Bushido" merupakan semangat yang diperkenalkan semsa era Pemulihan Meiji di Jepun?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan10">Menjadi negara 
            <br>perindustrian
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan10">Menjadi negara 
            <br>perindustrian</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mencapai kemajuan 
            <br>pendidikan
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menghalang gerakan
            <br> anti-Barat
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mengatasi kelemahan 
            <br>pemerintahan
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  <ion-button (click)="check(soalan1,soalan2,soalan3,soalan4,soalan5,soalan6,soalan7,soalan8,soalan9,soalan10)" expand="block" fill="clear" shape="round">
    Semakan
  </ion-button>
  <ion-card>
    <ion-label>
      <h2>Keputusan:{{total}} /10</h2>
      </ion-label>
  </ion-card>
  
</ion-content>