<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="./assets/ju2.jpg" width=" 300px" style="display:inline-block" height="100px">
    <ion-title></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan1">
        <ion-list-header>
          <ion-label><h2>1. Apakah bukti pemerintahan
            Kesultanan Melayu Melaka berdasarkan konsep Islam?</h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan1">Raja sebagai ketua
          <br>agama</ion-label>
          <ion-label color="danger" [hidden]="!jawapan1">Raja sebagai ketua
            <br>agama</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Orang Melayu diberi
          
            <br>keistimewaan</ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Ukiran Islam dijadikan
            <br>hiasan
            <br>istana</ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Bahasa Melayu sebagai
            <br>bahasa
            rasmi</ion-label>
          
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan2">
        <ion-list-header>
          <ion-label><h2>2.Apakah perlembagaan yang memperuntukkan penubuhan Majlis Sultan-Sultan?</h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan2">Malayan Union</ion-label>
          <ion-label color="danger" [hidden]="!jawapan2">Malayan Union</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Charter Of
            Justice
          </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Negeri-Negeri 
            Selat
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Persekutuan Tanah
            <br>Melayu
           </ion-label>
          
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan3">
        <ion-list-header>
          <ion-label><h2>3. Mengapakah Majlis Sultan-Sultan ditubuhkan?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mengelakkan campur
            <br>tangan kuasa British
            
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan3">Membincangkan
            <br>perundangan agama
            <br>Islam
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan3">Membincangkan 
            <br>perundangan agama 
            <br>Islam</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mengukuhkan
            <br>pembangunan sosio 
            <br>ekonomi
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Mengekalkan
            <br>kedudukan Pembesar
            <br>tempatan
           </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan4">
        <ion-list-header>
          <ion-label><h2>4.Apakah kesan pemeteraian perjanjian Persekutuan Tanah Melayu 1948?
            <img src="assets/rajah14.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Pembatalan prinsip
            <br>jus soli
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Pembinaan
            <br>petempatan khas
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan4">Penubuhan Majlis
            <br>Raja-Raja
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan4">Penubuhan Majlis 
             <br>Raja-Raja</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>pembentukan Sistem
            <br>Ahli
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan5">
        <ion-list-header>
          <ion-label><h2>5. Apakah perkara institusi beraja tersebut?
            <img src="assets/rajah15.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Perubahan sempadan
            <br>negeri
           </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan5">Pemilihan Yang Di-
            <br>Pertuan Agong
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan5">Pemilihan Yang Di-
             <br>Pertuan Agong</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Pengisytiharan
            <br>perundangan darurat
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Penetapan tarikh
            <br>pilihan raya
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan6">
        <ion-list-header>
          <ion-label><h2>6.Bagaimanakah kedudukan baginda di negeri-negeri tersebut?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan6">Ketua agama
            Islam
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan6">Ketua agama Islam</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Ketua angkatan
            <br>tentera
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Melantik Menteri
            Besar
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label> Menubuhkan Majlis
            <br>Tertinggi
            
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan7">
        <ion-list-header>
          <ion-label><h2>7. Apakah X?
            <img src="assets/rajah16.jpg" class="ion-text-center" >
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Kebebasan riadah</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan7">Kebebasan
            <br>berpersatuan
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan7">Kebebasan 
             <br>berpersatuan
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Kebebasan
            <br>bermasyarakat
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Kebebasan menerbit
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan8">
        <ion-list-header>
          <ion-label><h2>8. Bagaimanakah keahlian Dewan Ahli dipilih?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Diluluskan oleh
            <br>Perlembagaan 
            <br>Persekutuan
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Dilantik oleh Majlis
            <br>Raja-Raja
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan8">Dipilih rakyat melalui
            <br>pilihan raya
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan8">Dipilih rakyat melalui 
             <br>pilihan raya</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Diperkenankan oleh
            <br>Yang di-Pertuan
            <br>Agong
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan9">
        <ion-list-header>
          <ion-label><h2>9.Apakah fungsi Jemaah Menteri dalam struktur pentadbiran Malaysia?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Melantik Peguam
            <br> Negara
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Membuat undang- 
            <br>undang
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan9">Menggubal dasar
            <br>kerajaan
           </ion-label>
           <ion-label color="danger" [hidden]="!jawapan9">Menggubal dasar 
             <br>kerajaan</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>Menjaga keamanan
            <br>negara
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="soalan10">
        <ion-list-header>
          <ion-label><h2>10. Gabungan parti berasaskan kaum yang telah dibentuk sejak pilihan raya pada tahun 1955.
            Apakah parti berasaskan kaum tersebut?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label>Parti Harapan
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>Parti
            <br>Kemerdekaan Negara
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>Parti 
            <br>Perikatan Nasional
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan10">Parti
            Perikatan
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan10">Parti Perikatan</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
  <ion-button (click)="check(soalan1,soalan2,soalan3,soalan4,soalan5,soalan6,soalan7,soalan8,soalan9,soalan10)" expand="block" fill="clear" shape="round">
    Semakan
  </ion-button>
  <ion-card>
    <ion-label>
      <h2>Keputusan:{{total}} /10</h2>
      </ion-label>
  </ion-card>
</ion-content>

