<ion-header [translucent]="true" color="pastel">
  <ion-toolbar class="ion-text-center" color="pastel">
    <img src="./assets/logo3.png" width=" 200px" style="display:inline-block" height="100px">
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-slides [options]="slidesOpts" zoom>
      <ion-slide>
       <div class="swiper-zoom-container">
         <img src="assets/v1.PNG" width="100%">
       </div>
      </ion-slide>
    </ion-slides>
  </ion-item>

  <p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v2.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v3.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v4.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v5.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v6.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v7.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<p></p>
<ion-item>
<ion-slides [options]="slidesOpts" zoom>
  <ion-slide>
   <div class="swiper-zoom-container">
     <img src="assets/v9.PNG">
   </div>
  </ion-slide>
</ion-slides>
</ion-item>

<ion-button color= "dark" expand="block" fill="clear" shape="round" size="default" [routerLink]="['/tingkatan5']">
<ion-icon slot="start" name="arrow-back-outline"></ion-icon>
Kembali
</ion-button>

</ion-content>
